@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?#') format('eot'),
    url('fonts/icomoon.svg#icomoon') format('svg'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'museo';
    src: url('fonts/museo-webfont.eot');
    src: url('fonts/museo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo-webfont.woff') format('woff'),
         url('fonts/museo-webfont.ttf') format('truetype'),
         url('fonts/museo-webfont.svg#museo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cc1';
    src: url('fonts/abril_fatface-webfont.eot');
    src: url('fonts/abril_fatface-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/abril_fatface-webfont.woff') format('woff'),
         url('fonts/abril_fatface-webfont.ttf') format('truetype'),
         url('fonts/abril_fatface-webfont.svg#abril') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'cc2';
    src: url('fonts/brandon_re-webfont.eot');
    src: url('fonts/brandon_re-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandon_re-webfont.woff') format('woff'),
         url('fonts/brandon_re-webfont.ttf') format('truetype'),
         url('fonts/brandon_re-webfont.svg#abril') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/* Use the following CSS code if you want to use data attributes for inserting your icomoons */
[data-icomoon]:before {
  font-family: 'icomoon';
  content: attr(data-icomoon);
  speak: none;
}

/* Use the following CSS code if you want to have a class per icomoon */
[class^="icomoon-"]:before, [class*=" icomoon-"]:before {
  font-family: 'icomoon';
  font-style: normal;
  speak: none;
}
.icomoon-home:before {
  content: "\24";
}
.icomoon-camera:before {
  content: "\25";
}
.icomoon-music:before {
  content: "\26";
}
.icomoon-microphone:before {
  content: "\27";
}
.icomoon-broadcast:before {
  content: "\28";
}
.icomoon-screen:before {
  content: "\29";
}
.icomoon-laptop:before {
  content: "\2a";
}
.icomoon-mouse:before {
  content: "\2b";
}
.icomoon-mobile:before {
  content: "\2c";
}
.icomoon-tablet:before {
  content: "\2d";
}
.icomoon-calendar:before {
  content: "\2e";
}
.icomoon-copy:before {
  content: "\2f";
}
.icomoon-compass:before {
  content: "\30";
}
.icomoon-history:before {
  content: "\31";
}
.icomoon-clock:before {
  content: "\32";
}
.icomoon-bell:before {
  content: "\33";
}
.icomoon-mail:before {
  content: "\34";
}
.icomoon-location:before {
  content: "\35";
}
.icomoon-mobile-2:before {
  content: "\36";
}
.icomoon-drawer:before {
  content: "\37";
}
.icomoon-box-add:before {
  content: "\38";
}
.icomoon-box-remove:before {
  content: "\39";
}
.icomoon-database:before {
  content: "\3a";
}
.icomoon-comments:before {
  content: "\3b";
}
.icomoon-undo:before {
  content: "\3c";
}
.icomoon-redo:before {
  content: "\3d";
}
.icomoon-forward:before {
  content: "\3e";
}
.icomoon-reply:before {
  content: "\3f";
}
.icomoon-reply-2:before {
  content: "\40";
}
.icomoon-comments-2:before {
  content: "\41";
}
.icomoon-comments-3:before {
  content: "\42";
}
.icomoon-comments-4:before {
  content: "\43";
}
.icomoon-comments-5:before {
  content: "\44";
}
.icomoon-user:before {
  content: "\45";
}
.icomoon-user-2:before {
  content: "\46";
}
.icomoon-user-3:before {
  content: "\47";
}
.icomoon-busy:before {
  content: "\48";
}
.icomoon-loading:before {
  content: "\49";
}
.icomoon-loading-2:before {
  content: "\51";
}
.icomoon-locked:before {
  content: "\22";
}
.icomoon-equalizer:before {
  content: "\4a";
}
.icomoon-pie:before {
  content: "\23";
}
.icomoon-bars:before {
  content: "\4b";
}
.icomoon-stats-up:before {
  content: "\4c";
}
.icomoon-gift:before {
  content: "\4d";
}
.icomoon-trophy:before {
  content: "\4e";
}
.icomoon-diamond:before {
  content: "\4f";
}
.icomoon-coffee:before {
  content: "\50";
}
.icomoon-rocket:before {
  content: "\52";
}
.icomoon-meter-slow:before {
  content: "\53";
}
.icomoon-meter-medium:before {
  content: "\54";
}
.icomoon-meter-fast:before {
  content: "\55";
}
.icomoon-dashboard:before {
  content: "\56";
}
.icomoon-fire:before {
  content: "\57";
}
.icomoon-lab:before {
  content: "\58";
}
.icomoon-remove:before {
  content: "\59";
}
.icomoon-remove-2:before {
  content: "\5a";
}
.icomoon-remove-3:before {
  content: "\5b";
}
.icomoon-briefcase:before {
  content: "\5c";
}
.icomoon-briefcase-2:before {
  content: "\5d";
}
.icomoon-cars:before {
  content: "\5e";
}
.icomoon-bus:before {
  content: "\5f";
}
.icomoon-cube:before {
  content: "\60";
}
.icomoon-cube-2:before {
  content: "\61";
}
.icomoon-puzzle:before {
  content: "\62";
}
.icomoon-glasses:before {
  content: "\63";
}
.icomoon-glasses-2:before {
  content: "\64";
}
.icomoon-accessibility:before {
  content: "\65";
}
.icomoon-accessibility-2:before {
  content: "\66";
}
.icomoon-target:before {
  content: "\67";
}
.icomoon-target-2:before {
  content: "\68";
}
.icomoon-lightning:before {
  content: "\69";
}
.icomoon-power:before {
  content: "\6a";
}
.icomoon-power-2:before {
  content: "\6b";
}
.icomoon-clipboard:before {
  content: "\6c";
}
.icomoon-clipboard-2:before {
  content: "\6d";
}
.icomoon-playlist:before {
  content: "\6e";
}
.icomoon-grid-view:before {
  content: "\6f";
}
.icomoon-tree-view:before {
  content: "\70";
}
.icomoon-menu:before {
  content: "\71";
}
.icomoon-menu-2:before {
  content: "\72";
}
.icomoon-cloud:before {
  content: "\73";
}
.icomoon-cloud-2:before {
  content: "\74";
}
.icomoon-download:before {
  content: "\75";
}
.icomoon-upload:before {
  content: "\76";
}
.icomoon-upload-2:before {
  content: "\77";
}
.icomoon-link:before {
  content: "\78";
}
.icomoon-link-2:before {
  content: "\79";
}
.icomoon-flag:before {
  content: "\7a";
}
.icomoon-flag-2:before {
  content: "\7b";
}
.icomoon-flag-3:before {
  content: "\7c";
}
.icomoon-eye:before {
  content: "\21";
}
.icomoon-bookmark:before {
  content: "\7d";
}
.icomoon-bookmark-2:before {
  content: "\e000";
}
.icomoon-star:before {
  content: "\e001";
}
.icomoon-star-2:before {
  content: "\e002";
}
.icomoon-star-3:before {
  content: "\e003";
}
.icomoon-heart:before {
  content: "\e004";
}
.icomoon-heart-2:before {
  content: "\e005";
}
.icomoon-thumbs-up:before {
  content: "\e006";
}
.icomoon-thumbs-down:before {
  content: "\e007";
}
.icomoon-happy:before {
  content: "\e008";
}
.icomoon-smiley:before {
  content: "\e009";
}
.icomoon-neutral:before {
  content: "\e00a";
}
.icomoon-plus:before {
  content: "\e00b";
}
.icomoon-minus:before {
  content: "\e00c";
}
.icomoon-help:before {
  content: "\e00d";
}
.icomoon-help-2:before {
  content: "\e00e";
}
.icomoon-info:before {
  content: "\e00f";
}
.icomoon-blocked:before {
  content: "\e010";
}
.icomoon-cancel:before {
  content: "\e011";
}
.icomoon-cancel-2:before {
  content: "\e012";
}
.icomoon-cancel-3:before {
  content: "\e013";
}
.icomoon-checkmark:before {
  content: "\e014";
}
.icomoon-minus-2:before {
  content: "\e015";
}
.icomoon-plus-2:before {
  content: "\e016";
}
.icomoon-enter:before {
  content: "\e017";
}
.icomoon-exit:before {
  content: "\e018";
}
.icomoon-loop:before {
  content: "\e019";
}
.icomoon-arrow-up:before {
  content: "\e01a";
}
.icomoon-arrow-right:before {
  content: "\e01b";
}
.icomoon-arrow-down:before {
  content: "\e01c";
}
.icomoon-arrow-left:before {
  content: "\e01d";
}
.icomoon-arrow-up-left:before {
  content: "\e01e";
}
.icomoon-arrow-up-2:before {
  content: "\e01f";
}
.icomoon-arrow-up-right:before {
  content: "\e020";
}
.icomoon-arrow-right-2:before {
  content: "\e021";
}
.icomoon-arrow-down-right:before {
  content: "\e022";
}
.icomoon-arrow-down-2:before {
  content: "\e023";
}
.icomoon-arrow-down-left:before {
  content: "\e024";
}
.icomoon-arrow-left-2:before {
  content: "\e025";
}
.icomoon-arrow-up-left-2:before {
  content: "\e026";
}
.icomoon-arrow-up-3:before {
  content: "\e027";
}
.icomoon-arrow-up-right-2:before {
  content: "\e028";
}
.icomoon-arrow-right-3:before {
  content: "\e029";
}
.icomoon-arrow-down-right-2:before {
  content: "\e02a";
}
.icomoon-arrow-down-3:before {
  content: "\e02b";
}
.icomoon-arrow-down-left-2:before {
  content: "\e02c";
}
.icomoon-arrow-left-3:before {
  content: "\e02d";
}
.icomoon-arrow-up-left-3:before {
  content: "\e02e";
}
.icomoon-arrow-up-4:before {
  content: "\e02f";
}
.icomoon-arrow-up-right-3:before {
  content: "\e030";
}
.icomoon-arrow-right-4:before {
  content: "\e031";
}
.icomoon-arrow-down-right-3:before {
  content: "\e032";
}
.icomoon-arrow-down-4:before {
  content: "\e033";
}
.icomoon-arrow-down-left-3:before {
  content: "\e034";
}
.icomoon-arrow-left-4:before {
  content: "\e035";
}
.icomoon-arrow-up-5:before {
  content: "\e036";
}
.icomoon-arrow-right-5:before {
  content: "\e037";
}
.icomoon-arrow-down-5:before {
  content: "\e038";
}
.icomoon-arrow-left-5:before {
  content: "\e039";
}
.icomoon-arrow-up-6:before {
  content: "\e03a";
}
.icomoon-arrow-right-6:before {
  content: "\e03b";
}
.icomoon-arrow-down-6:before {
  content: "\e03c";
}
.icomoon-arrow-left-6:before {
  content: "\e03d";
}
.icomoon-arrow-up-7:before {
  content: "\e03e";
}
.icomoon-arrow-right-7:before {
  content: "\e03f";
}
.icomoon-arrow-down-7:before {
  content: "\e040";
}
.icomoon-arrow-left-7:before {
  content: "\e041";
}
.icomoon-menu-3:before {
  content: "\e042";
}
.icomoon-enter-2:before {
  content: "\e043";
}
.icomoon-backspace:before {
  content: "\e044";
}
.icomoon-backspace-2:before {
  content: "\e045";
}
.icomoon-tab:before {
  content: "\e046";
}
.icomoon-tab-2:before {
  content: "\e047";
}
.icomoon-checkbox:before {
  content: "\e048";
}
.icomoon-checkbox-unchecked:before {
  content: "\e049";
}
.icomoon-checkbox-partial:before {
  content: "\e04a";
}
.icomoon-radio-checked:before {
  content: "\e04b";
}
.icomoon-radio-unchecked:before {
  content: "\e04c";
}
.icomoon-font:before {
  content: "\e04d";
}
.icomoon-paragraph-left:before {
  content: "\e04e";
}
.icomoon-paragraph-center:before {
  content: "\e04f";
}
.icomoon-paragraph-right:before {
  content: "\e050";
}
.icomoon-left-to-right:before {
  content: "\e051";
}
.icomoon-right-to-left:before {
  content: "\e052";
}
.icomoon-out:before {
  content: "\e053";
}
.icomoon-out-2:before {
  content: "\e054";
}
.icomoon-embed:before {
  content: "\e055";
}
.icomoon-seven-segment:before {
  content: "\e056";
}
.icomoon-seven-segment-2:before {
  content: "\e057";
}
.icomoon-seven-segment-3:before {
  content: "\e058";
}
.icomoon-seven-segment-4:before {
  content: "\e059";
}
.icomoon-seven-segment-5:before {
  content: "\e05a";
}
.icomoon-seven-segment-6:before {
  content: "\e05b";
}
.icomoon-seven-segment-7:before {
  content: "\e05c";
}
.icomoon-seven-segment-8:before {
  content: "\e05d";
}
.icomoon-seven-segment-9:before {
  content: "\e05e";
}
.icomoon-seven-segment-10:before {
  content: "\e05f";
}
.icomoon-bluetooth:before {
  content: "\e060";
}
.icomoon-share:before {
  content: "\e061";
}
.icomoon-share-2:before {
  content: "\e062";
}
.icomoon-mail-2:before {
  content: "\e063";
}
.icomoon-mail-3:before {
  content: "\e064";
}
.icomoon-google-plus:before {
  content: "\e065";
}
.icomoon-google-plus-2:before {
  content: "\e066";
}
.icomoon-google-plus-3:before {
  content: "\e067";
}
.icomoon-gplus:before {
  content: "\e068";
}
.icomoon-facebook:before {
  content: "\e069";
}
.icomoon-facebook-2:before {
  content: "\e06a";
}
.icomoon-facebook-3:before {
  content: "\e06b";
}
.icomoon-facebook-4:before {
  content: "\e06c";
}
.icomoon-twitter:before {
  content: "\e06d";
}
.icomoon-twitter-2:before {
  content: "\e06e";
}
.icomoon-twitter-3:before {
  content: "\e06f";
}
.icomoon-feed:before {
  content: "\e070";
}
.icomoon-feed-2:before {
  content: "\e071";
}
.icomoon-feed-3:before {
  content: "\e072";
}
.icomoon-youtube:before {
  content: "\e073";
}
.icomoon-youtube-2:before {
  content: "\e074";
}
.icomoon-vimeo:before {
  content: "\e075";
}
.icomoon-vimeo-2:before {
  content: "\e076";
}
.icomoon-flickr:before {
  content: "\e077";
}
.icomoon-flickr-2:before {
  content: "\e078";
}
.icomoon-flickr-3:before {
  content: "\e079";
}
.icomoon-picassa:before {
  content: "\e07a";
}
.icomoon-picassa-2:before {
  content: "\e07b";
}
.icomoon-dribbble:before {
  content: "\e07c";
}
.icomoon-dribbble-2:before {
  content: "\e07d";
}
.icomoon-dribbble-3:before {
  content: "\e07e";
}
.icomoon-forrst:before {
  content: "\e07f";
}
.icomoon-forrst-2:before {
  content: "\e080";
}
.icomoon-deviantart:before {
  content: "\e081";
}
.icomoon-deviantart-2:before {
  content: "\e082";
}
.icomoon-github:before {
  content: "\e083";
}
.icomoon-github-2:before {
  content: "\e084";
}
.icomoon-github-3:before {
  content: "\e085";
}
.icomoon-github-4:before {
  content: "\e086";
}
.icomoon-github-5:before {
  content: "\e087";
}
.icomoon-github-6:before {
  content: "\e088";
}
.icomoon-git:before {
  content: "\e089";
}
.icomoon-github-7:before {
  content: "\e08a";
}
.icomoon-wordpress:before {
  content: "\e08b";
}
.icomoon-wordpress-2:before {
  content: "\e08c";
}
.icomoon-blogger:before {
  content: "\e08d";
}
.icomoon-blogger-2:before {
  content: "\e08e";
}
.icomoon-tumblr:before {
  content: "\e08f";
}
.icomoon-tumblr-2:before {
  content: "\e090";
}
.icomoon-yahoo:before {
  content: "\e091";
}
.icomoon-yahoo-2:before {
  content: "\e092";
}
.icomoon-amazon:before {
  content: "\e093";
}
.icomoon-amazon-2:before {
  content: "\e094";
}
.icomoon-apple:before {
  content: "\e095";
}
.icomoon-finder:before {
  content: "\e096";
}
.icomoon-android:before {
  content: "\e097";
}
.icomoon-windows:before {
  content: "\e098";
}
.icomoon-soundcloud:before {
  content: "\e099";
}
.icomoon-soundcloud-2:before {
  content: "\e09a";
}
.icomoon-skype:before {
  content: "\e09b";
}
.icomoon-reddit:before {
  content: "\e09c";
}
.icomoon-linkedin:before {
  content: "\e09d";
}
.icomoon-lastfm:before {
  content: "\e09e";
}
.icomoon-lastfm-2:before {
  content: "\e09f";
}
.icomoon-delicious:before {
  content: "\e0a0";
}
.icomoon-stumbleupon:before {
  content: "\e0a1";
}
.icomoon-stumbleupon-2:before {
  content: "\e0a2";
}
.icomoon-pinterest:before {
  content: "\e0a3";
}
.icomoon-pinterest-2:before {
  content: "\e0a4";
}
.icomoon-xing:before {
  content: "\e0a5";
}
.icomoon-libreoffice:before {
  content: "\e0a6";
}
.icomoon-file-pdf:before {
  content: "\e0a7";
}
.icomoon-file-openoffice:before {
  content: "\e0a8";
}
.icomoon-file-word:before {
  content: "\e0a9";
}
.icomoon-file-excel:before {
  content: "\e0aa";
}
.icomoon-file-powerpoint:before {
  content: "\e0ab";
}
.icomoon-file-zip:before {
  content: "\e0ac";
}
.icomoon-file-xml:before {
  content: "\e0ad";
}
.icomoon-file-css:before {
  content: "\e0ae";
}
.icomoon-html5:before {
  content: "\e0af";
}
.icomoon-html5-2:before {
  content: "\e0b0";
}
.icomoon-css3:before {
  content: "\e0b1";
}
.icomoon-chrome:before {
  content: "\e0b2";
}
.icomoon-firefox:before {
  content: "\e0b3";
}
.icomoon-IE:before {
  content: "\e0b4";
}
.icomoon-opera:before {
  content: "\e0b5";
}
.icomoon-safari:before {
  content: "\e0b6";
}
.icomoon-IcoMoon:before {
  content: "\e0b7";
}
.icomoon-eye-2:before {
  content: "\e0b8";
}
.icomoon-cog:before {
  content: "\e0b9";
}
.icomoon-wrench:before {
  content: "\e0ba";
}
