*::-moz-selection {
    background: none repeat scroll 0 0 #DF8D89;
    color: #fff;
}

*::-webkit-selection {
    color: #fff;
    background:rgba(223, 141, 137, 0.99);
}

*::selection {
    color: #fff;
    background:rgba(223, 141, 137, 0.99);
}

.centered {
    margin: auto;
    overflow: hidden;
}

.mauve {
    color: #9A4D9E;
}

.rose {
    color: #D31145;
}

.rosebonbon {
    color: #F2798F;
}

.cconfetti {
    color: #8077B7;
}

/*
.activemenu {
    text-decoration: underline;
}
*/

.cursor {
    cursor: pointer;
}


.greyVeryDark {
    color: #262520;
}

.greyVeryDark:hover {
    color: #262520;
}

.greyDark {
    color: #373232;
}

.greyMedium {
    color: #837D7D;
}

.greyLight {
    color: #C5C4BC;
}

.redVeryStrong {
    color: #BC433A;
}

.redStrong {
    color: #DA594F;
}

.redMedium {
    color: #DF8D89;
}

.menu_confetti {
    background-color: #9A4D9E;
    position: fixed;
    display: block;
    text-align: center;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 999;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .2);
}

.vendorsLi {
    color: #9A4D9E;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px #ccc;
}

.infoProductVendor {
    font-weight: bold;
    font-size: 23px;
    text-shadow: 2px 2px 0px #9A4D9E;
    color: #fff;
}

.infoProductName {
    font-weight: bold;
    font-size: 18px;
    text-shadow: 2px 2px 0px #D31145;
    color: #fff;
}

.vendorsLi li {
    padding: 8px;
    margin-bottom: 10px;
    border-bottom: 3px solid #FCE4E9;
}

.plannerLi {
    list-style: none;
    font-size: 15px;
}

.plannerLi li {
    margin-bottom: 22px;
}

.subLi {
    list-style: none;
    text-transform: none;
    font-size: 16px;
    border-bottom: none;
    text-shadow: none;
}

.discount {
    position: relative;
    top: -266px;
    left: 762px;
    color: #fff;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    background-color: #D31145;
    padding: 8px;
    font-weight: bold;
    width: 50px;
    text-align: center;
    font-size: 125%;
    z-index: 800;
}

.numberPlanner {
    position: relative;
    left: -40px;
    color: #fff;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    background-color: #878787;
    padding: 8px;
    font-weight: bold;
}

.numberPlannerHover {
    position: relative;
    left: -40px;
    color: #fff;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    background-color: #000;
    padding: 8px;
    font-weight: bold;
}

.plannerList {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 6px;
    background-color: #DDD9DA;
    color: #878787;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.plannerHover:hover {
    color: #000;
}

.plannerHoverSelected {
    color: #000;
}

.subLi li {
    border-bottom: none;
    color: #8077B7;
}

.subLi a, .subLi a:hover, .subLi a:visited, .subLi a:active {
    color: #8077B7;
}

.sep {
    height: 50px;
}

.sep2 {
    height: 15px;
}

.sep3 {
    height: 25px;
}

.putcenter {
    text-align: center;
}

#nav {
    margin: 0;
    display: inline-block;
}
.navigation{
    list-style: none;
    margin: 20px auto;
    display: block;
    text-align: center;
    padding: 0;
}

.navigation li{
    display: inline-block;
    padding: 15px;
    font-size: 15px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}

.navigation li:hover, .active {
/*
    text-decoration: underline;
*/
}

.active a {
    color: #CF423F;
}

.infoProduct {
    position: relative;
    background-image: -webkit-gradient(
      linear, left top, left bottom, from(rgba(255,255,255,0)),
      to(rgba(255,255,255,0.7)), color-stop(0.95,#ffffff)
    );

    background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%
    );


    /* approximately a 33% opacity on white */
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
    );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
);
    width: 400px;
    height: 250px;
    top: -285px;
    left: 400px;
    padding: 5px;
}

.white {
    color: #fff;
}

/* =============================================================================
1. General
============================================================================= */
body{
    font-family: brandon, 'Open Sans', "Helvetica Neue", Arial, Helvetica, FreeSans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #262520;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
    min-width: 960px;
    max-width: 1920px;
}

h1,h2,h3,h4,h5,h6{
    margin-top:0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: 42px; line-height: 46px; margin-bottom: 14px;}
h2 { font-size: 32px; line-height: 37px; margin-bottom: 10px; }
h3 { font-size: 25px; line-height: 31px; margin-bottom: 8px; }
h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
h5 { font-size: 17px; line-height: 24px; }
h6 { font-size: 14px; line-height: 21px; }

h1, h2, h5 {
    text-transform: uppercase;
}

.ccUnderline {
    text-decoration: underline;
}

.h2Connect {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 6px;
}

.ccH2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.hrConnect {
    width: 250px;
    height: 1px;
}

.ccGreyConnect {
    color: #C5C4BC;
}

.ccGrey {
    color: #837D7D;
}

.rememberMe {
    margin-bottom: 20px;
}

.ccLow {
    text-transform: none;
    font-weight: 400;
}

a { color: #fff; text-decoration: none; }

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}
em { font-style: italic; }
strong { font-weight: bold; color: #333; }
small { font-size: 80%; }

.main_title {
    margin-top:30px;
    margin-bottom:45px;
    text-align:center;
    font-family: brandon, 'Pacifico', Georgia, Times, serif;
    font-size:70px;
    line-height: 75px;
    color:#9A4D9E;
}

.subpage_title {
    margin-top:40px;
    margin-bottom:45px;
    text-align:center;
    font-family: brandon, 'Pacifico', Georgia, Times, serif;
    font-size:46px;
    line-height:50px;
    color:#F2798F;
}

a:focus {
    color: #fff;
    text-decoration: none;
}

a:hover,a:active {
    color: #fff;
    text-decoration: none;
    outline: 0;
}

.script {
    font-family: brandon, 'Pacifico', Georgia, Times, cursive;
}

.cclogo {
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 65px;
    z-index: 1000;
    height: 227px;
    background-image: -webkit-gradient(
      linear, left top, left bottom, from(rgba(255,255,255,0.2)),
      to(rgba(255,255,255,0.4)), color-stop(.5,#ffffff)
    );

    background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%
    );


    /* approximately a 33% opacity on white */
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
    );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
);
}

.ccflag {
    position: fixed;
    top: 20px;
    bottom: 0;
    right: 15px;
    z-index: 1000;
}

.divid {
    border-bottom: 15px solid #FCE4E9;
    padding-bottom: 28px;
}

.start {
    padding-top: 20px;
}

.headerHomeCC {
    height: 700px;
    background-image: url(../img/rosebrightest.jpg);
    background-repeat: no-repeat;
    z-index: 2000;
}

.headerCC {
    background-image: url(../img/rosebrightest.jpg);
    background-repeat: no-repeat;
    z-index: 2000;
    height: 160px;
}

.wedHome {
    background-image: url(../img/wedhome.jpg);
    background-repeat: no-repeat;
}

.bannerHome {
    background-image: url(../img/rose.jpg);
    width: 1100px;
    height: 350px;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.member {
    background-image: url(../img/member.jpg);
    width: 1000px;
    height: 300px;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.vendors {
    background-image: url(../img/vendors.jpg);
    width: 1000px;
    height: 300px;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.planner {
    background-image: url(../img/planner.jpg);
    width: 1000px;
    height: 300px;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.paypal {
    background-image: url(../img/paypal.jpg);
    width: 1000px;
    height: 300px;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.register {
    background-image: url(../img/register.jpg);
    width: 1000px;
    height: 300px;
    padding: 20px;
    background-position: center center;
    background-repeat: no-repeat;
    margin: auto;
}

.banTitle {
    position: relative;
    top: 150px;
    max-width: 600px;
}

.titleBanner {
    background-color: #dadada;
    padding: 10px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;;
    background-image: -webkit-gradient(
      linear, left top, left bottom, from(rgba(255,255,255,0)),
      to(rgba(255,255,255,0.7)), color-stop(0.95,#ffffff)
    );

    background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%
    );


    /* approximately a 33% opacity on white */
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
    );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
    );
    font-weight: bold;
}

.textBanner {
    margin-top: 100px;
    background-color: #dadada;
    padding: 10px;
    color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;;
    background-image: -webkit-gradient(
      linear, left top, left bottom, from(rgba(255,255,255,0)),
      to(rgba(255,255,255,0.7)), color-stop(0.95,#ffffff)
    );

    background-image: -moz-linear-gradient(
      rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 95%
    );


    /* approximately a 33% opacity on white */
    filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
    );

    /* IE8 uses -ms-filter for whatever reason... */
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr=#FFFFFFFF, endColorstr=#FFFFFFFF
    );
}

.title {
    font-family: brandon;
    font-size: 32px;
}

.info {
    font-weigth: bold;
    font-size: 18px;
    width: 450px;
}

.info2 {
    font-weigth: bold;
    font-size: 22px;
    width: 50%;
    margin: 0 auto;
}

.toright {
    text-align: right;
}

.toleft {
    text-align: left;
}

.btn-go {
    background-color: #D31145;
    background-image: linear-gradient(to bottom, #D31145, #D31145);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: brandon;
    font-size: 18px;
    padding: 12px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.btn-go-submit {
    background-color: #D31145;
    background-image: linear-gradient(to bottom, #D31145, #D31145);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    font-family: brandon;
    font-size: 14px;
    padding: 6px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

.icon-huge:before {
    font-size: 10em;
}

.roseLink {
    font-family: brandon;
    color: #D31145;
    text-shadow: 0.15em 0.15em 0.05em #8077B7;
}

.roseLink:hover {
    font-family: brandon;
    color: #D31145;
    text-shadow: 0.15em 0.15em 0.05em #8077B7;
}

footer {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    background-color: #D6C0D8;
    vertical-align: center;
}

.mw400 {
    max-width: 400px;
}

.containerCC, .divConnect {
    width: 100%;
    margin: 0 auto;
}

.connectCenter {
    position: relative;
}

.innerConnection {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.ccDecor {
    border-bottom: solid 1px #837D7D;
    position: ralative;
    top: -9px;
}

.innerCenter {
    position: relative;
    left: -39px;
}

.innerLast {
    position: relative;
    left: 39px;
}

.divConnect {
    background-color: #373232;
    display: none;
    overflow: hidden;
    position: relative;
    z-index:2000;
}

.faqAnswer {
    text-align: justify;
}

.ccMediumRed {
    color: #D67876;
}

.ccFloat {
    position: relative;
    float: left;
}

.ccFloatRight {
    position: relative;
    float: right;
}

.ccFont30 {
    font-size: 30px;
}

.ccTagline {
    position: relative;
    top: -25px;
    width: 600px;
    text-align: justify;
}

.ccHide {
    display: none;
}

.registerLink a {
    color: #D67876;
    text-decoration: underline;
}

.plannerProfile {
    position: absolute;
    width: 350px;
    background-color: #FAFAF7;
    border: solid 1px #EFEFED;
    padding: 8px;
    z-index:500;
    top:180px;
    left:840px;
}

.plannerVendor {
    position: relative;
    width: 100%;
    background-color: #FAFAF7;
    border: solid 1px #EFEFED;
    padding: 8px;
    z-index:500;
    top:15px;
}

.itemMenuProfile {
    position: relative;
    float: left;
    background-color: #FAFAF7;
    border: solid 1px #EFEFED;
    cursor: pointer;
    padding: 8px;
    font-weight: 500;
}

.itemMenuProfile:hover {
    color: #CF423F;
}

..itemMenuProfileHover {
    color: #CF423F;
}

.10pc, .15pc, .20pc, .25pc, .30pc, .33pc, .35pc, .40pc, .45pc, .50pc, .55pc, .60pc, .65pc, .70pc, .75pc, .80pc, .85pc, .90pc, .95pc {
    float: left;
    position: relative;
}

.10pc {
    width: 10%;
}

.15pc {
    width: 15%;
}

.20pc {
    width: 20%;
}

.25pc {
    width: 25%;
}

.30pc {
    width: 30%;
}

.33pc {
    width: 33%;
}

.35pc {
    width: 35%;
}

.40pc {
    width: 40%;
}

.45pc {
    width: 45%;
}

.50pc {
    width: 50%;
}

.55pc {
    width: 55%;
}

.60pc {
    width: 60%;
}

.65pc {
    width: 65%;
}

.70pc {
    width: 70%;
}

.75pc {
    width: 75%;
}

.80pc {
    width: 80%;
}

.85pc {
    width: 85%;
}

.90pc {
    width: 90%;
}

.95pc {
    width: 95%;
}


/* =Grid >> Global
--------------------------------------------------------------------------------*/
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    margin-left: 25px;
    margin-right: 25px;
}

.push_1, .pull_1,
.push_2, .pull_2,
.push_3, .pull_3,
.push_4, .pull_4,
.push_5, .pull_5,
.push_6, .pull_6,
.push_7, .pull_7,
.push_8, .pull_8,
.push_9, .pull_9,
.push_10, .pull_10,
.push_11, .pull_11 {
        position: relative;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/
.alpha {margin-left: 0;}
.omega {margin-right: 0;}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/
.containerCC .grid_1 {width: 40px;}
.containerCC .grid_2 {width: 130px;}
.containerCC .grid_3 {width: 220px;}
.containerCC .grid_4 {width: 310px;}
.containerCC .grid_5 {width: 400px;}
.containerCC .grid_6 {width: 490px;}
.containerCC .grid_7 {width: 580px;}
.containerCC .grid_8 {width: 670px;}
.containerCC .grid_9 {width: 760px;}
.containerCC .grid_10 {width: 850px;}
.containerCC .grid_11 {width: 940px;}
.containerCC .grid_12 {width: 1030px;}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.containerCC .prefix_1 {padding-left: 90px;}
.containerCC .prefix_2 {padding-left: 180px;}
.containerCC .prefix_3 {padding-left: 270px;}
.containerCC .prefix_4 {padding-left: 360px;}
.containerCC .prefix_5 {padding-left: 450px;}
.containerCC .prefix_6 {padding-left: 540px;}
.containerCC .pr
::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

:-ms-input-placeholder {
   color: #000;
}efix_7 {padding-left: 630px;}
.containerCC .prefix_8 {padding-left: 720px;}
.containerCC .prefix_9 {padding-left: 810px;}
.containerCC .prefix_10 {padding-left: 900px;}
.containerCC .prefix_11 {padding-left: 990px;}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/
.containerCC .suffix_1 {padding-right: 90px;}
.containerCC .suffix_2 {padding-right: 180px;}
.containerCC .suffix_3 {padding-right: 270px;}
.containerCC .suffix_4 {padding-right: 360px;}
.containerCC .suffix_5 {padding-right: 450px;}
.containerCC .suffix_6 {padding-right: 540px;}
.containerCC .suffix_7 {padding-right: 630px;}
.containerCC .suffix_8 {padding-right: 720px;}
.containerCC .suffix_9 {padding-right: 810px;}
.containerCC .suffix_10 {padding-right: 900px;}
.containerCC .suffix_11 {padding-right: 990px;}

/* `Push Space >> 12 Columns
--------------------------------------------------------------------------------*/
.containerCC .push_1 {left: 90px;}
.containerCC .push_2 {left: 180px;}
.containerCC .push_3 {left: 270px;}
.containerCC .push_4 {left: 360px;}
.containerCC .push_5 {left: 450px;}
.containerCC .push_6 {left: 540px;}
.containerCC .push_7 {left: 630px;}
.containerCC .push_8 {left: 720px;}
.containerCC .push_9 {left: 810px;}
.containerCC .push_10 {left: 900px;}
.containerCC .push_11 {left: 990px;}

/* `Pull Space >> 12 Columns
--------------------------------------------------------------------------------*/
.containerCC .pull_1 {left: -90px;}
.containerCC .pull_2 {left: -180px;}
.containerCC .pull_3 {left: -270px;}
.containerCC .pull_4 {left: -360px;}
.containerCC .pull_5 {left: -450px;}
.containerCC .pull_6 {left: -540px;}
.containerCC .pull_7 {left: -630px;}
.containerCC .pull_8 {left: -720px;}
.containerCC .pull_9 {left: -810px;}
.containerCC .pull_10 {left: -900px;}
.containerCC .pull_11 {left: -990px;}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.sommaire {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   top: -65px;
   left:50%;
   text-align:center;
}

.sommaire li {
    list-style: none;
    float: left;
   position:relative;
   right:50%;
}

.sommaire li:last-child {
    margin-right: 0;
}

.sommaire a {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 15px;
    padding: 15px 0;
    color: #262520;
    font-weight: bold;
}

.sommaire a:hover, .sommaire a:active {
    text-decoration: underline;
}

.losangeLogoEmpty {
    height: 135px;
    width: 135px;
    font-family: cc1;
    font-size: 39px;
    text-transform: uppercase;
    cursor: pointer;
}
.losangeLogo {
    position: relative;
    background-image: url(../img/logoheader135.png);
    width: 135px;
    height: 135px;
    margin: 0 auto;
    top: 8px;
    cursor: pointer;
}

.brandHeader {
    position: relative;
    top: -22px;
    left: -7px;
    cursor: pointer;
}

.sommaireLanguage a {
    color: #837D7D;
}


.logoHeader {
    text-align: center;
    font-family: cc1;
    font-size: 75px;
}

.ccenter {
    text-align: center;
}

.ccTitle {
     color: #CF423F;
     font-size: 42px;
}

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

:-ms-input-placeholder {
   color: #000;
}ize: 42px;
    font-weight: bold;
}

.bigButton {
    font-size: 28px;
    color: #fff;
    background-color: #CF423F;
    border: solid 3px #BC433A;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
}

.btnLarge {
    font-size: 28px;
    color: #fff;
    background-color: #DF8D89;
    border: solid 3px #DA5950;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

.btnLarge:hover {
    background-color: #DA594F;
    border: solid 3px #BC433A;
}

.btnLargeMin {
    font-size: 22px;
    color: #fff;
    background-color: #DF8D89;
    border: solid 3px #DA5950;
    padding: 6px 11px;
    font-weight: bold;
    cursor: pointer;
}

.btnLargeMin:hover {
    background-color: #DA594F;
    border: solid 3px #BC433A;
}

.btnMedium {
    font-size: 18px;
    color: #DA5950;
    background-color: #fff;
    border: solid 3px #DA5950;
    padding: 10px 15px;
    font-weight: bold;
    cursor: pointer;
}

.btnMedium:hover {
    background-color: #D67876;
    color: #fff;
    border: solid 3px #BC433A;
}

#buttonListHome {
    position: relative;
    top: -70px;
}

.footerCC {
    width: 100%;
    background-color: #373232;
    color: #fff;
    margin: 0 auto;
    z-index:2000;
}

#logoFooter {
    position: relative;
    background-image: url(../img/logofooter90.png);
    width: 90px;
    height: 90px;
    margin: 0 auto;
    top: -45px;
    cursor: pointer;
}

.textLogoFooter {
    position: relative;
    font-family: cc1;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    top: 30px;
    left: 19px;
}

.contentFooter {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 80px;
    padding-right: 80px;
}

.innerCC {
    background-color: #fff;
    padding: 60px 0;
}

.inner2CC {
    background-color: #fff;
    padding: 20px 0;
}

.borderBottomDiv {
    border-bottom: solid 2px #C5C4BC;
}

.borderTopDiv {
    border-top: solid 2px #C5C4BC;
}

h2, .ccRedThin {
    color: #CF423F;
}

.cc1 {
    font-family: cc1;
}

.cc2 {
    font-family: brandon;
}

.cc80 {
    width: 80%;
}

.pMax {
    font-size: 40px;
    line-height: 50px;
}

.pMax2 {
    font-size: 32px;
    line-height: 40px;
}

.pMax3 {
    font-size: 24px;
    line-height: 30px;
}

.pMax4 {
    font-size: 20px;
    line-height: 26px;
}

.pHeader {
    font-size: 28px;
    line-height: 36px;
}

.pFirst {
    font-size: 24px;
    line-height: 30px;
}

.pSecond {
    font-size: 20px;
    line-height: 24px;
}

.pThird {
    font-size: 18px;
    line-height: 21px;
}

.ccLineHeight40 {
    line-height: 40px;
}

.ccBold {
    font-weight: bold;
}

.ccEm {
    font-style: italic;
}

.ccItem {
    margin-bottom: 8px;
}

.ccRight {
    text-align: right;
}

.divBkgHome {
    position: relative;
    padding: 35px;
    background-image: url(../img/backgroundhome.png);
    background-repeat: repeat;
}


.ccThin {
    font-weight: 100;
}

.ccSemiThin {
    font-weight: 300;
}

.ccLeft {
    text-align: left;
}

.ccPaddingLeft50 {
    padding-left: 50px;
}

.ccPaddingLeft75 {
    padding-left: 75px;
}

.ccRed, .ccRed:hover {
    color: #CF423F;
}

a .ccRed, .ccRed a {
    text-decoration: underline;
}

.ccRedUp {
    color: #CF423F;
    text-transform: uppercase;
}

.ccLineUp {
    margin-bottom: 10px;
}

.inputSize {
    height: 50px;
    width: 250px;
}

input, select {
    font-size: 22px;
    font-weight: bold;
    padding-left: 6px;
    background-color:rgba(255,255,255,0.5);
    width: 240px;
    height: 50px;
    border: 3px solid #DA5950;
}

.superInput {
    font-size: 18px;
    padding-left: 6px;
    background-color:rgba(255,255,255,0.5);
    width: 280px;
    height: 25px;
    border: 1px solid #DA5950;
}

.input, .textarea {
    font-size: 16px;
    padding-left: 6px;
    background-color:rgba(255,255,255,0.5);
    width: 280px;
    height: 25px;
    border: 1px solid #837D7D;
    margin-bottom: 15px;
}

.textarea {
    height: 180px;
}

fieldset {
    border: 0px solid #837D7D;
}

.ccWhite {
    background-color: #fff;
}

.ccWhiteColor {
    color: #fff;
}

.ccClose {
    margin-right: 35px;
    color: #fff;
}

.footerColor, .footerColor a {
    color: #837D7D;
}

.ccSmallInput {
    font-size: 16px;
}

.footerTable {
    position: relative;
    top: -45px;
    width: 80%;
    margin: 0 auto;
}

.ccLeft50 {
    padding-left: 50px;
}

.footerTable td {
    vertical-align: text-top;
}

.ccFooterLink a {
    color: #fff;
    font-weight: 500;
}

.ccFooter {
    position: relative;
    top: -45px;
}

.ccSocialNetwork {
    font-size: 26px;
}

.activeCatLi, .vendorsCategory:hover {
    color: #CF423F;
    cursor: pointer;
    font-weight: 600;
}
/*
.vendorsList li {
    list-style: none;
    border: solid 1px #C5C4BC;
    background-color: #FAFAF7;
    padding: 7px;
}
*/

.vendorsDiv {
    display: none;
}

.vendorDiv {
    border: solid 1px #C5C4BC;
    padding: 7px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.photosDiv, .mapDiv {
    position: relative;
    width: 620px;
    padding: 10px;
}

.mapDiv {
    height: 350px;
}

.cc100 {
    collapse: collapse;
    width: 100%;
/*
    position: relative;
    left: 18px;
*/
}

.ccHeight50 {
    height: 50px;
}

.ccH3Red {
    color: #D67876;
}

.ccFs100 {
    font-size: 100px;
    font-weight: 100;
}

.ccBold400 {
    font-weight: 400;
}

.ccF18 {
    font-size: 18px;
}

.divCenter {
    background-image: url(../img/divCenter.jpg);
    background-repeat: no-repeat repeat;
    background-position: center center;
}

.vendorLink {
    color: #CF423F;
    text-decoration: underline;
}

.vendorLink:hover {
    color: #CF423F;
    text-decoration: none;
}

#galleryFull { background:#8B3933; position:relative; overflow:hidden; width:600px; height:300px; }
#galleryFull li { position:relative; top: -16px; left: -40px; width:600px; height:300px; text-align:center; display:none; }
#galleryFull li.active { display:block; }
#galleryFull .btn_previous, #galleryFull .btn_next { background:url(../img/bg_rose_alpha.png); cursor:pointer; position:absolute; display:block; width:50px; height:55px; top:123px; }
#galleryFull .btn_previous span, #galleryFull .btn_next span { background:url(../img/btn_arrowGB.png) no-repeat 0 0; display:block; text-indent:-99999px; width:50px; height:55px; }
#galleryFull .btn_previous { left:0px; }
#galleryFull .btn_next { right:0px; }
#galleryFull .btn_next span { background-position:0 -55px; }

.productDiv {
    list-style: none;
    border: solid 1px #C5C4BC;
    padding: 15px;
    margin-bottom: 10px;
    width: 620px;
    position: relative;
}

.ribbonFollow {
    position: relative;
}

.ribbon {
    position: absolute;
    background-image: url(../img/ribbon.png);
    background-repeat: no-repeat;
    width: 163px;
    height: 70px;
    left:498px;
    z-index:2500;
    text-align: right;
    padding-right: 15px;
}

.ccPrice {
    color: #CF423F;
    font-size: 28px;
    font-weight: 600;
    padding-top: 4px;
}

.ccDiscount {
    position: relative;
    top: -7px;
}

.vendorDiv img {
    border: solid 1px #C5C4BC;
}

.imgVendor {
    position: relative;
    float: left;
    width: 200px;
}

.presVendor {
    margin-left: 20px;
    float: left;
    position: relative;
    width: 300px;
}

.descriptionVendor {

}

.discret {
    visibility: hidden;
    text-align: right;
}

.discretShow {
    visibility: visible;
    text-align: right;
}

.pHeader a {
    color: #000;
}

/* =fcontainers
--------------------------------------------------------------------------------*/

.fcontainer_12,
.fcontainer_16
{
    width: 100%;
}

/* =Grid >> Global
--------------------------------------------------------------------------------*/

.fgrid_1,
.fgrid_2,
.fgrid_3,
.fgrid_4,
.fgrid_5,
.fgrid_6,
.fgrid_7,
.fgrid_8,
.fgrid_9,
.fgrid_10,
.fgrid_11,
.fgrid_12,
.fgrid_13,
.fgrid_14,
.fgrid_15,
.fgrid_16 {
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.fcontainer_12 .fgrid_3,
.fcontainer_16 .fgrid_4 {
    width: 23%;
}

.fcontainer_12 .fgrid_6,
.fcontainer_16 .fgrid_8 {
    width: 48%;
}

.fcontainer_12 .fgrid_9,
.fcontainer_16 .fgrid_12
{
    width: 73%;
}

.fcontainer_12 .fgrid_12,
.fcontainer_16 .fgrid_16
{
    width: 98%;
}

/* =Grid >> Children (Alpha ~ First, Omega ~ Last)
--------------------------------------------------------------------------------*/

.alpha
{
    margin-left: 0;
}

.omega
{
    margin-right: 0;
}

/* =Grid >> 12 Columns
--------------------------------------------------------------------------------*/

.fcontainer_12 .fgrid_1
{
    width: 6.333%;
}

.fcontainer_12 .fgrid_2
{
    width: 14.666%;
}

.fcontainer_12 .fgrid_4
{
    width: 31.333%;
}

.fcontainer_12 .fgrid_5
{
    width: 39.666%;
}

.fcontainer_12 .fgrid_7
{
    width: 56.333%;
}

.fcontainer_12 .fgrid_8
{
    width: 64.666%;
}

.fcontainer_12 .fgrid_10
{
    width: 81.333%;
}

.fcontainer_12 .fgrid_11
{
    width: 89.666%;
}

/* =Grid >> 16 Columns
--------------------------------------------------------------------------------*/

.fcontainer_16 .fgrid_1
{
    width: 4.25%;
}

.fcontainer_16 .fgrid_2
{
    width: 10.5%;
}

.fcontainer_16 .fgrid_3
{
    width: 16.75%;
}

.fcontainer_16 .fgrid_5
{
    width: 29.25%;
}

.fcontainer_16 .fgrid_6
{
    width: 35.5%;
}

.fcontainer_16 .fgrid_7
{
    width: 41.75%;
}

.fcontainer_16 .fgrid_9
{
    width: 54.25%;
}

.fcontainer_16 .fgrid_10
{
    width: 60.5%;
}

.fcontainer_16 .fgrid_11
{
    width: 66.75%;
}

.fcontainer_16 .fgrid_13
{
    width: 79.25%;
}

.fcontainer_16 .fgrid_14
{
    width: 85.5%;
}

.fcontainer_16 .fgrid_15
{
    width: 91.75%;
}

/* =Prefix Extra Space >> Global
--------------------------------------------------------------------------------*/

.fcontainer_12 .fprefix_3,
.fcontainer_16 .fprefix_4
{
    padding-left: 25%;
}

.fcontainer_12 .fprefix_6,
.fcontainer_16 .fprefix_8
{
    padding-left: 50%;
}

.fcontainer_12 .fprefix_9,
.fcontainer_16 .fprefix_12
{
    padding-left: 75%;
}

/* =Prefix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.fcontainer_12 .fprefix_1
{
    padding-left: 8.333%;
}

.fcontainer_12 .fprefix_2
{
    padding-left: 16.666%;
}

.fcontainer_12 .fprefix_4
{
    padding-left: 33.333%;
}

.fcontainer_12 .fprefix_5
{
    padding-left: 41.666%;
}

.fcontainer_12 .fprefix_7
{
    padding-left: 58.333%;
}

.fcontainer_12 .fprefix_8
{
    padding-left: 66.666%;
}

.fcontainer_12 .fprefix_10
{
    padding-left: 83.333%;
}

.fcontainer_12 .fprefix_11
{
    padding-left: 91.666%;
}

/* =Prefix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/

.fcontainer_16 .fprefix_1
{
    padding-left: 6.25%;
}

.fcontainer_16 .fprefix_2
{
    padding-left: 12.5%;
}

.fcontainer_16 .fprefix_3
{
    padding-left: 18.75%;
}

.fcontainer_16 .fprefix_5
{
    padding-left: 31.25%;
}

.fcontainer_16 .fprefix_6
{
    padding-left: 37.5%;
}

.fcontainer_16 .fprefix_7
{
    padding-left: 43.75%;
}

.fcontainer_16 .fprefix_9
{
    padding-left: 56.25%;
}

.fcontainer_16 .fprefix_10
{
    padding-left: 62.5%;
}

.fcontainer_16 .fprefix_11
{
    padding-left: 68.75%;
}

.fcontainer_16 .fprefix_13
{
    padding-left: 81.25%;
}

.fcontainer_16 .fprefix_14
{
    padding-left: 87.5%;
}

.fcontainer_16 .fprefix_15
{
    padding-left: 93.75%;
}

/* =Suffix Extra Space >> Global
--------------------------------------------------------------------------------*/

.fcontainer_12 .fsuffix_3,
.fcontainer_16 .fsuffix_4
{
    padding-right: 25%;
}

.fcontainer_12 .fsuffix_6,
.fcontainer_16 .fsuffix_8
{
    padding-right: 50%;
}

.fcontainer_12 .fsuffix_9,
.fcontainer_16 .fsuffix_12
{
    padding-right: 75%;
}

/* =Suffix Extra Space >> 12 Columns
--------------------------------------------------------------------------------*/

.fcontainer_12 .fsuffix_1
{
    padding-right: 8.333%;
}

.fcontainer_12 .fsuffix_2
{
    padding-right: 16.666%;
}

.fcontainer_12 .fsuffix_4
{
    padding-right: 33.333%;
}

.fcontainer_12 .fsuffix_5
{
    padding-right: 41.666%;
}

.fcontainer_12 .fsuffix_7
{
    padding-right: 58.333%;
}

.fconcc50wtainer_12 .fsuffix_8
{
    padding-right: 66.666%;
}

.fcontainer_12 .fsuffix_10
{
    padding-right: 83.333%;
}

.fcontainer_12 .fsuffix_11
{
    padding-right: 91.666%;
}

/* =Suffix Extra Space >> 16 Columns
--------------------------------------------------------------------------------*/

.fcontainer_16 .fsuffix_1
{
    padding-right: 6.25%;
}

.fcontainer_16 .fsuffix_2
{
    padding-right: 16.5%;
}

.fcontainer_16 .fsuffix_3
{
    padding-right: 18.75%;
}

.fcontainer_16 .fsuffix_5
{
    padding-right: 31.25%;
}

.fcontainer_16 .fsuffix_6
{
    padding-right: 37.5%;
}

.fcontainer_16 .fsuffix_7
{
    padding-right: 43.75%;
}

.fcontainer_16 .fsuffix_9
{
    padding-right: 56.25%;
}

.fcontainer_16 .fsuffix_10
{
    padding-right: 62.5%;
}

.fcontainer_16 .fsuffix_11
{
    padding-right: 68.75%;
}

.fcontainer_16 .fsuffix_13
{
    padding-right: 81.25%;
}

.fcontainer_16 .fsuffix_14
{
    padding-right: 87.5%;
}

.fcontainer_16 .fsuffix_15
{
    padding-right: 93.75%;
}

form, input, textarea, button, h1, h2, h3, h4, h5, h6 {
  font-family: brandon, 'Open Sans', "Helvetica Neue", Arial, Helvetica, FreeSans, sans-serif;
}

.borderBottomDiv {
  border-bottom: 1px solid #c5c4bc;
}


/* Style des boutons, en lien texte:  */
a.btn-link {
  text-decoration: none;
  border-bottom: 1px solid #cf423f;
}

a.btn-link:hover {
  color: #d67876;
  border-color: #d67876;
}


/* #Navigation
================================================== */

.logoHeader {
  text-align: center;
  font-family: cc1;
  font-size: 72px;
}

a .ccRed, .ccRed a { text-decoration: none; }

.sommaire a {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 15px;
  padding: 4px 0;
  color: #373232;
  font-weight: bold;
  letter-spacing: 1px;
}

.sommaire a:hover {   text-decoration: none; border-bottom: 1px solid #373232; }
.sommaire .ccRed a:hover {   text-decoration: none; border-bottom: 1px solid #CF423F; }

/* Navigation: espacer le "A propos" du logo */



/* #Typographie
================================================== */

/* Remplacer les divs de "La cérémonie dont vous rêvez…
Et le budget aussi!" par un h2.italic */
/* ajouter p.first sur les paragraphes
<p class="first">Nous avons réuni des fournisseurs qui ont accepté de vous faire profiter d'économies sur leurs services pour vous permettre de réinvestir les sommes épargnées sur d'autres projets. Votre lune de miel, par exemple?</p>
<p class="first">Notre planificateur d'événements vous permet de faire une pré-sélection des fournisseurs qui vous intéressent
en ayant accès à leurs services et leurs forfaits et ce, étape par étape.</p>
 */

h2.italic {
  font-size: 42px;
  line-height: 48px;
  font-weight: 300;
  color: #262520;
  text-transform: none;
}
h3 {
  color: #cf423f;
  font-size: 24px;
  font-weight: bold;
}
h3.big { font-size: 36px; }

p.first {
  font-size: 21px;
  line-height: 1.25;
}

h5 {
  font-size: 14px;
  margin-bottom: 1em;
  color: #837d7d;
}


::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;
}

:-ms-input-placeholder {
   color: #000;
}


#homeForm input, #homeForm textarea, #homeForm select {
    font-size: 16px;
    width: 100%;
    padding: 12px;
    min-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
    border: 4px solid #837D7D;
    margin-bottom: 10px;
}
#homeForm form button {
  width: 100%;
  border: 4px solid solid #DA5950;
}
#homeForm form button:hover { border-color: #BC433A; }

#homeForm select {
    padding: 12px;
    min-height: 50px;
}

.ccError {
    color: red;
    font-weight: 600;
    clear: both;
    width: 50%;
    padding: 5px;
    border: solid 1px red;
    margin: 0 auto;
}

.ccForm input, .ccForm textarea, .ccForm select {
    font-size: 16px;
    width: 50%;
    padding: 12px;
    min-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
    border: 4px solid #837D7D;
    margin-bottom: 10px;
}
.ccForm form button {
  width: 50%;
  border: 4px solid solid #DA5950;
}
.ccForm form button:hover { border-color: #BC433A; }

.ccForm select {
    padding: 12px;
    min-height: 50px;
}

.ccForm3 label {
    width: 20%;
    float: left;
}
.ccForm3 input, .ccForm3 textarea, .ccForm3 select {
    font-size: 16px;
    width: 70%;
    padding: 12px;
    min-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #837D7D;
    margin-bottom: 10px;
    float: left;
    margin-left: 10px;
}

.ccForm3 div.error {
    color: red;
    font-weight: 600;
    clear: both;
    width: 20%;
    padding: 5px;
    border: solid 1px red;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ccForm3 button, a.btnRegister {
    width: 70%;
    border: 2px solid solid #DA5950;
    margin-left: 10px;
    font-size: 22px;
    color: #fff;
    background-color: #DF8D89;
    border: solid 3px #DA5950;
    padding: 6px 11px;
}

#homeForm a.btnRegister {
    width: 100%;
    border: 2px solid solid #DA5950;
    margin-left: 10px;
    font-size: 22px;
    color: #fff;
    background-color: #DF8D89;
    border: solid 3px #DA5950;
    padding: 6px 11px;
}

.ccForm3 button:hover, a.btnRegister:hover { border-color: #BC433A;
    color: #fff;
}
.ccForm3 select {
    padding: 12px;
    min-height: 50px;
}

.ui-datepicker-month {
    padding: 0px;
    min-height: 5px;
}

.ui-datepicker-year {
    padding: 0px;
    min-height: 5px;
}

.ccForm2 legend {
    width: 60%;
    float: left;
}
.ccForm2 input, .ccForm2 textarea, .ccForm2 select {
    font-size: 16px;
    width: 20%;
    padding: 12px;
    min-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255,255,255,0.5);
    border: 2px solid #837D7D;
    margin-bottom: 10px;
    margin-left: 10px;
}
.ccForm2 button {
    width: 20%;
    border: 2px solid solid #DA5950;
    margin-left: 10px;
}
.ccForm2 button:hover { border-color: #BC433A; }

.ccForm2 select {
    padding: 12px;
    min-height: 50px;
}

.ccOH {
    overflow: hidden;
}

.cc50w {
    width: 50%;
    position: relative;
    left: -42px;
}


.sommaireLanguage a, a .sommaireLanguage {
    color: #837D7D;
}

.sommaire .sommaireLanguage a:hover {   text-decoration: none; border-bottom: 1px solid #837D7D; }

a {
  color: #d67876;
  text-decoration: none;
/*
  padding-bottom: 4px;
*/
  border-bottom: 1px solid transparent;
}

a:active, a:hover {
  color: #cf423f;
  text-decoration: none;
  border-color: #cf423f;
  transition: all 0.2s linear;
}

a.btn, a.btnForm, button.btn {
  font-size: 16px;
  color: #fff;
  background-color: #DF8D89;
  border: solid 3px #DA5950;
  padding: 12px 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a.btn:hover, a.btnForm:hover, button.btn:hover {
  border-color: #bc433a;
  background: #da594f;
}

a.btn-white {
  background-color: #fff;
  color: #d67876;
}
a.btn-white:hover { color: #fff; }

a.btn-large {
  border: solid 4px #DA5950;
  font-size: 21px;
  padding: 16px 24px;
}


/* #Navigation
================================================== */

.navbar {
  border-bottom: 1px solid #c5c4bc;
  background: #fff;
}

.navbar-nav > li > a {
  padding: 7px 0;
  margin: 0 15px;
  border-bottom: 1px solid transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  background-color: #F5D5D4;
  color: #CF423F;
  padding-left: 12px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #CF423F;
  font-weight: bold;
    text-decoration: none;
}

.navbar-default .navbar-nav > li > a { color: #373232; }

.navbar-brand {
  position: absolute;
  left: 50%;
  margin-left: -47px;
  border-bottom: 0 !important;
}
.navbar-brand img {  width: 70px; height: auto; }
.navbar-brand:hover { margin-top: 2px; transition: all 0.1s linear; }

@media (min-width: 768px)  {
  .navbar {
      margin: 60px auto 0 auto;
      width: 770px;
      display: flex;
      background: transparent;
      border: none;
  }
  .navbar ul li {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
  .navbar ul li a:hover {
    border-color: #CF423F;
  }

  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 2px solid #CF423F;
    text-decoration: none;
  }
  .navbar-nav > li > a.logo-nav { margin-top: -60px; border-bottom: 0 !important;  opacity: 1; }
  .navbar-nav > li > a.logo-nav:hover { opacity: 0.8; }

  .navbar-default .navbar-nav > li {
    width:auto;  /* Or whatever */
    margin: auto;  /* Magic! */
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    border-bottom: 2px solid #CF423F;
    text-decoration: none;
  }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    background-color:transparent;
    padding-left: 0;
  }


}

/* #Navigation secondary
================================================== */

.navbar-secondary {
  position: absolute;
  top: 15px;
  right: 15px;
  text-transform: uppercase;
}
.navbar-secondary a { margin-left: 8px; }
/* #Header hero
================================================== */

.hero {
  background: url(../img/roseHeader2908.jpg);
  background-size: 800px auto;
  min-height: 300px;
  margin-top: -50px;
}


.heroClassic {
    background: url(../img/roseHeader2908.jpg);
    background-size: 800px auto;
    height: 180px;
    margin-top: -50px;
}


@media (min-width: 768px)  {
  .hero {
    background-size: 100% auto;
    min-height: 550px;
    margin-top: -170px;
  }

    .secondHeader {
        position: relative;
        top: 130px;
    }


    .heroClassic {
        background-size: 100% auto;
        height: 180px;
        margin-top: -170px;
    }
}


/* #About : avatars
================================================== */

.avatar-confetti {
  width: 250px;
  height: 250px;
  position: relative;
  margin: 0 auto;
  top: -15px;
}
.avatar-confetti:after {
  position: absolute;
  top: 38px;
  left: 38px;
  content: " ";
  width: 174px;
  height: 174px;
  opacity: 0;
  z-index: -2;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #d67876;
}
.avatar-confetti:hover:after {
  opacity: 1;
}
.avatar-confetti figcaption {
  opacity: 0;
  transition: all 0.2s linear;
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  font-family: cc1;
  -webkit-transform: translateY(-90px);
  -moz-transform: translateY(-90px);
  -o-transform: translateY(-90px);
  transform: translateY(-90px);
}
.avatar-confetti img {
  transition: all 0.2s linear;
}
.avatar-confetti:hover img {
  opacity: 0.5;
}
.avatar-confetti:hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(-157px);
  -moz-transform: translateY(-157px);
  -o-transform: translateY(-157px);
  transform: translateY(-157px);
}

/* #Connexion
================================================== */

button.close { font-size: 36px; }

/* Modifs 29.08.2013 */

.ccUp {
  text-transform: uppercase;
  letter-spacing: 1px;
}
.ccSmall { font-size: 14px; }



/* #FORMS (connexion)
================================================== */

form.vertical-form input, form.vertical-form button, a.btnForm {
  display: block;
  width: 100%;
}
button, a.btnForm {  -webkit-transition: 0.2s all linear;  }

form.vertical-form input {
  font-size: 16px;
  padding: 12px;
  min-height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  border: 4px solid #837D7D;
  margin-bottom: 10px;
  -webkit-transition: 0.2s all linear;
  -moz-transition: 0.2s all linear;
  -o-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

input:focus, textarea:focus, form.vertical-form input:focus {
  border-color: #cf423f;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(214,120,118, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(214,120,118, 0.6);
}

.rememberMe { margin-bottom: 10px; text-align: right; }
.ccGreyConnect {
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #837d7d;
  color: #837d7d;
  text-align: center;
}
/* #Fournisseurs: menu de gauche
================================================== */


.vendorsList {
  border: solid 1px #C5C4BC;
  border-bottom: 0;
  margin: 0 0 20px 0;
  padding: 0;
  border-radius: 3px;
}
.vendorsList li {
  list-style: none;
  border-bottom: solid 1px #C5C4BC;
  background-color: #FAFAF7;
  padding: 0;
}
.vendorsList li.heading {
  padding: 6px 8px;
}
.vendorsList li.footing {
  border-bottom: solid 1px #C5C4BC;
  color: #262520;
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  cursor: pointer;
}
.vendorsList li.listLi {
  color: #262520;
  border-bottom: none;
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  cursor: pointer;
}
.vendorsList li.listLi:hover,.vendorsList li.footing:hover,  .vendorsList li.listLi.activeLiVendor { color: #cf423f; background-color: #fff; }
.activeCatLiVendor {
  color: #262520;
  border-bottom: none;
  display: inline-block;
  width: 100%;
  padding: 6px 8px;
  cursor: pointer;
}

/* #Fournisseurs : item
================================================== */
.ccHidden {
    display: none;
}

.vendor-list ul {
    display: none;
}

.vendor-list li {
  list-style: none;
  border: 1px solid #C5C4BC;
  padding: 10px;
  min-height: 180px;
  min-width: 550px;
  border-radius: 3px;
  position: relative;
  margin-bottom: 15px;
}
.vendor-list li:hover {
  background: #f9f9f8;
  box-shadow: 0 3px 5px #f2f1ec;
}
.vendor-list li a.btn {
 opacity: 0;
 position: absolute;
 bottom: 10px;
 right: 10px;
 -webkit-transition: opacity 0.2s linear;
}
.vendor-list li:hover a.btn { opacity: 1; }

.vendor-list .ribbonList {
  padding: 2px 10px;
  background: #f2f1ec;
  color: pink;
  font-weight: bold;
  text-transform: uppercase;
  color: #cf423f;
  position: absolute;
  top: 6px;
  font-size: 24px;
  right: -6px;
  border: 1px solid #c5c4bc;
  display: block;
}

.vendor-list .ribbonList2 {
  padding: 2px 10px;
  background: #cf423f;
  color: pink;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 6px;
  font-size: 24px;
  right: -6px;
  border: 1px solid #cf423f;
  display: none;
}

.vendor-list li:hover .ribbonList2 { display: block; }
.vendor-list li:hover .ribbonList { display: none; }

.vendor-list li .vendor-heading {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.vendor-list li .vendor-heading a { border-bottom: none; color: #262520; }
.vendor-list li:hover .vendor-heading a { color: #cf423f; }
/* Image de l'item */
.vendor-list li figure.pull-left {
  position: relative;
  border: 1px solid #C5C4BC;
  padding: 0;
  width: 160px;
  height: 160px;
  display: inline-block;
  overflow: hidden;
  margin-right: 15px;
}

.vendor-list li figure img {
  width: 100%;
  height: auto;
}

.vendor-list li figure figcaption {
  position: absolute;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  padding: 5px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  background: rgba(207, 66, 63, 0.6);
 -webkit-transition: opacity 0.2s linear;
}
.vendor-list li:hover figure figcaption { opacity: 1; }

.vendor-list li figure figcaption span { font-size: 18px; }


.vendor-heading {
    margin-right: 65px;
}

.formSignIn {
    width: 350px;
    margin: 0 auto;
}

#products ul.ccUlProducts {
    margin: 0;
    padding: 0;
}

.ccDivVendor {
    margin-left: 35px; margin-bottom: 35px;
}

.ccBreadcrumb {
    position: relative;
    top: 10px;
    left: 25px;
}

.ccBottomBreadcrumb {
    clear: both;
    margin-left: 25px;
    text-align: left;
}

.ccContactTitle {
    font-weight: 600;
    font-size: 38px;
    color: #868080;
}

.ccTop {
    margin-top: 55px;
}

.ccRegPrice {
    font-size: 11px;
    color: #000;
    position: relative;
    top: -7px;
}

.fullView img {
    max-width: 600px;
    max-height: 300px;
}
