
@font-face {
  font-family: 'tgt';
  src: url('fonts/trumpgoteasmed-webfont.eot');
  src: url('fonts/trumpgoteasmed-webfont.eot#iefix') format('embedded-opentype'), url('fonts/trumpgoteasmed-webfont.woff') format('woff'), url('fonts/trumpgoteasmed-webfont.ttf') format('truetype'), url('fonts/trumpgoteasmed-webfont.svg#tgt') format('svg');
  font-weight: normal;
  font-style: normal;
}
