 html, body{ padding: 0; margin: 0;}
 *{position: relative;}
 body{ text-align: center; font-family: 'Open Sans',tahoma, sans-serif; font-size: 100%; color:#585250; }
 * img{ border: 0; max-width: 100%: }
 pre{ font-family: 'Open Sans',tahoma, sans-serif; font-size: 100%; font-weight: 700;color:#585250; white-space:normal;}
 code{
	font-family: Georgia, serif; font-size: 100%; color:#35627e; font-weight: 700; font-style: italic; font-size: 1.375em;
	border: 3px solid #f2e9d1; border-right: 0; border-left: 0;
	display: block;padding: 3% 0; 
 }
 hr{ width: 99%; margin: 1% auto; color:#eeeeee; border: 0; border-top: 1px solid #eee;}
 a{ color: #35627e; }
 .ctner{ width: 975px; margin: 0 auto; padding: 0; text-align: left;}
 .sideTitleSaumon{ color:#eaddbe; font-weight: 700; font-size: 1.5625em; line-height: 1em; text-align: right;text-transform: uppercase; }
 #conteneur{ display: table; width: 100%;  background: #fff; margin: 0; padding: 0; }
 #head{ margin: 0; padding: 0; height: 165px; background: #fff; 
	position: relative; top: 0;
	-webkit-box-shadow:  0px 0px 10px 0px #000000; 
	box-shadow:  0px 0px 10px 0px #000000;
	z-index: 2;}
#head nav{ position: absolute; top: 90px; left: 350px; width: 66%;}
#head nav ul{ display: table; width: 100%; padding: 0; margin: 0;}
#head nav li{ list-style: none; display: table-cell; text-align: left; padding: 5px 10px; border-right: 1px solid #6e7070;}
/*
#head nav li.first{ padding-left: 0;} */
#head nav li.last{  border-right: 0;}
#head nav li a{ color: #3d6f8e; text-decoration: none; font-size: 95%}
#head nav li a:hover{ color: #e6e7e8;}
#head nav li.active, #head nav li.active a:hover{color: #3d6f8e; background: #e7e7e6; }

#shopCart{ -webkit-border-radius: 20px; border-radius: 20px; width: 100px; position: absolute; left: 445px; top: 25px; font-size: 80%; text-decoration: none; color: #fff; background: #3e7090 url(images/cart-ico.png) no-repeat 115px center; padding: 3px 25px 3px 20px;}
#shopCart:hover{ -webkit-box-shadow:  0px 0px 5px 0px #3b6c8b; box-shadow:  0px 0px 5px 0px #3b6c8b; }

#icoNav{ background: #e7e7e6; position: absolute; top: 25px; left: 645px; padding: 3px 10px; }
#icoNav a{ color: #424444; line-height: 1px;  font-size: 80%; text-decoration: none; padding: 0 11.5px; border-right: 1px solid silver;}
#icoNav a:first-child{ padding-left: 0; }
#icoNav a:last-child{ border-right: 0;}
#icoNav a img{ height: 13px; }


/* ### slidder and featured section ### */

#headSection{ height: 686px; background: url(images/bg-head.jpg) repeat-x top left; z-index: 1; text-align: center; font-family: Georgia, serif;}
#headSection .ctner{ position: relative;height: 690px; padding:0; background: url(images/paws.jpg) no-repeat top right; z-index: 10 }

/*
#sliderCnt{ position: relative; display: block; width: 975px !important; background: pink; top: 121px; z-index: 5000; left: 25%; width: 100%; height: 430px;}
*/
#sliderCnt{ position: relative; display: block; width: 975px !important; top:-40px; z-index: 5000; margin: 0 auto; margin-bottom: -426px;width: 100%; height: 430px;}

#slider{ text-align: left; }

#featured{ display: table; height: 300px; width: 100%; top: 390px;}
#featured ul{ display: table-row; padding:0; margin: 0;}
#featured ul li{ list-style:none; display: table-cell; width: 33%; text-align: center; vertical-align: middle; font-size: 1.875em; line-height: 1em; margin: 0; padding:0;}
#featured ul li .titleFeatured{ color: #fff;}
#featured ul li .titleFeatured strong{ display: block; color:#f1e8d1; }
#featured ul li a{ text-decoration: none; margin: 0; padding: 0;}

/* ### slidder ### */

.slidder_title{ font-family: Georgia, serif;
    font-size: 3.875em;
    color: #515050;
    line-height: 1em;
}
.slide-slice{ z-index: 1 !important; }
.slidder_title span{ display: block; width: 50%;}
.slidder_title span:nth-child(1){ text-transform: uppercase;}
.slidder_title span:nth-child(2){ color: #3d6f8e; font-weight: 700; text-transform: uppercase; font-size: 1.2em; }
.slidder_title span:nth-child(3){ font-size: 0.45em; font-style: italic; line-height: 1em;}
.slide-image{ position: absolute; bottom: 0; right: 10%; z-index: 5 !important;}

/* ### section corps ### */
#bodyWrapper{ display: table; min-height: 500px; padding-bottom: 221px;}
#bodySection, #bodySectionL{ display: table-cell; width: 72%; max-width: 72% !important; font-size: 100%; padding-bottom: 5%; padding-top: 2%; vertical-align: top; }
#bodySection{ padding-right: 3%;}
#bodySectionL{ padding-left: 3%;}


#bodySection h1, #bodySectionL h1, #bodySectionProduit h1,
#bodySection h2, #bodySectionL h2, #bodySectionProduit h2,
#bodySection h3, #bodySectionL h3, #bodySectionProduit h3,
#bodySection h4, #bodySectionL h4, #bodySectionProduit h4,
#bodySection h5, #bodySectionL h5, #bodySectionProduit h5,
#bodySection h6, #bodySectionL h6, #bodySectionProduit h6{ font-family: Georgia, serif; font-weight: normal; color: #3d6f8e; }
#bodySection h1, #bodySectionL h1, #bodySectionProduit h1{ color: #35627e; font-size: 2.25em; font-weight: 700; font-style: italic;margin-bottom: 0; }
#bodySection h2, #bodySectionL h2, #bodySectionProduit h2{ color: #515050; font-size: 2em;font-style: italic; margin-top: 0;}
#bodySection h3, #bodySectionL h3, #bodySectionProduit h3{ font-family: arial, sans-serif;font-size: 1.25em; font-weight: 700; margin-bottom: 0;}
#bodySide h4{ font-family: Georgia, serif; color: #3d6f8e;font-size: 1.25em; font-weight: 700; margin-bottom: 0;}
#bodySection h3 + p, 
#bodySectionL h3 + p,
#bodySection h3 + pre,
#bodySectionL h3 + pre{ margin-top: 0;}

#bodySection h4,#bodySection h5,#bodySection h6,
#bodySectionL h5, #bodySectionL h6{ font-size: 1em; margin-bottom: 0;  }
#bodySection h4, #bodySectionL h4{ font-size: 2.0625em;}
#bodySection h4 + p,#bodySection h5 + p,#bodySection h6 + p,
#bodySectionL h4 + p, #bodySectionL h5 + p, #bodySectionL h6 + p,
#bodySection h4 + pre,#bodySection h5 + pre,#bodySection h6 + pre,
#bodySectionL h4 + pre, #bodySectionL h5 + pre, #bodySectionL h6 + pre{ margin-top: 0;}
#bodySection h5, #bodySectionL h5{ text-transform: uppercase;}
#bodySection h6, #bodySectionL h6{ font-family: arial, sans-serif; font-size: 1.5625em; margin-top: 1em;font-weight: 700; color:#eaddbe;}
strong, b{ color:#3d6f8e; font-weight: 700;}

.t4i{ font-size: 1.625em !important; font-style: italic;}
.t4faq{ font-size: 1.375em !important; font-style: italic; margin-top: 10% !important;}
.justifyright{ text-align: right; }
.justifyleft{ text-align: left; }
.col_1{ width: 100%; float:none; clear: both; margin: 2em 0;padding: 0 2%;}
.col_2{ width: 45%; margin-right: 3%; float: left; padding: 0 2%;} 
.col_3{ width: 27%; margin-right: 1%; float: left; padding: 0 2%;}
.ombre{ -webkit-box-shadow:  3px 3px 5px 0px #333333; box-shadow:  3px 3px 5px 0px #333333;}
.last{ margin-right: 0; clear: right;}
.temoins{ font-style: italic;}
.temoins p:first-child{ font-family: Georgia, serif; font-weight: 700; color: #3d6f8e; font-style: italic; 
	background: url(images/temoins-gauche.jpg) no-repeat left top;
	padding-left: 60px; padding-top: 20px;
	margin-left: -60px;
 }
.temoins p:last-child{
	background: url(images/temoins-droite.jpg) no-repeat right bottom;
	padding-right: 60px; padding-bottom: 20px;
	margin-right: -60px;
 }

.btnLink{
	cursor:pointer;
    padding: 0.3em 3em 0.6em 1em; 
	margin-top: 2%;
    text-decoration:none;
    color:#fff;
    font-size: 0.875em;
    line-height: 1em;
    display: inline-block;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    background: #83a2b5; /* Old browsers */
    background-image: url(images/ico_patte.png) no-repeat center right; /* fallback */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzYTJiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzY2OGJhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iIzNkNmY4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDYwN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: url(images/ico_patte.png), -moz-linear-gradient(top,  #83a2b5 0%, #668ba4 41%, #3d6f8e 43%, #34607d 100%); /* FF3.6+ */
    background-image: url(images/ico_patte.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83a2b5), color-stop(41%,#668ba4), color-stop(43%,#3d6f8e), color-stop(100%,#34607d)); /* Chrome,Safari4+ */
    background-image: url(images/ico_patte.png), -webkit-linear-gradient(top,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* Chrome10+,Safari5.1+ */
    background-image: url(images/ico_patte.png), -o-linear-gradient(top,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* Opera 11.10+ */
    background-image: url(images/ico_patte.png), -ms-linear-gradient(top,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* IE10+ */
    background-image: url(images/ico_patte.png), linear-gradient(to bottom,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83a2b5', endColorstr='#34607d',GradientType=0 ); /* IE6-8 */
    background-repeat: no-repeat;
    background-position: 97% center;
    border: 1px solid #457a9a;
	z-index: +10;
    }
.btnLink:hover{ 
  background: #34607d; /* Old browsers */
    background-image: url(images/ico_patte.png) no-repeat center right; /* fallback */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzYTJiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzY2OGJhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iIzNkNmY4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDYwN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: url(images/ico_patte.png), -moz-linear-gradient(top,  #34607d 0%, #3d6f8e 57%, #668ba4 59%, #83a2b5 100%); /* FF3.6+ */
    background-image: url(images/ico_patte.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34607d), color-stop(57%,#3d6f8e), color-stop(59%,#668ba4), color-stop(100%,#83a2b5)); /* Chrome,Safari4+ */
    background-image: url(images/ico_patte.png), -webkit-linear-gradient(top,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* Chrome10+,Safari5.1+ */
    background-image: url(images/ico_patte.png), -o-linear-gradient(top,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* Opera 11.10+ */
    background-image: url(images/ico_patte.png), -ms-linear-gradient(top,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* IE10+ */
    background-image: url(images/ico_patte.png), linear-gradient(to bottom,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34607d', endColorstr='#83a2b5',GradientType=0 ); /* IE6-8 */
    background-repeat: no-repeat;
    background-position: 97% center;
    border: 1px solid #457a9a;
    }
	
.btnLinkBlanc{
	cursor:pointer;
    padding: 0.3em 3em 0.6em 1em; 
	margin-top: 2%;
    text-decoration:none;
    color: #336699;
    font-size: 0.875em;
    line-height: 1em;
    display: inline-block;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    background-image: url(images/ico_patte-blanc.png) no-repeat center right; /* fallback */
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: url(images/ico_patte-blanc.png), -moz-linear-gradient(top,  #ffffff 0%, #ffffff 62%, #e8e8e7 100%);
	background: url(images/ico_patte-blanc.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(62%,#ffffff), color-stop(100%,#e8e8e7));
	background: url(images/ico_patte-blanc.png), -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 62%,#e8e8e7 100%);
	background: url(images/ico_patte-blanc.png), -o-linear-gradient(top,  #ffffff 0%,#ffffff 62%,#e8e8e7 100%);
	background: url(images/ico_patte-blanc.png), -ms-linear-gradient(top,  #ffffff 0%,#ffffff 62%,#e8e8e7 100%);
	background: url(images/ico_patte-blanc.png), linear-gradient(to bottom,  #ffffff 0%,#ffffff 62%,#e8e8e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e7',GradientType=0 );

    background-repeat: no-repeat;
    background-position: 97% center;
    border: 1px solid #cccccc;
    }
.btnLinkBlanc:hover{ 
	background: #e8e8e7; /* Old browsers */
    background-image: url(images/ico_patte-blanc.png) no-repeat center right; /* fallback */
	background: #e8e8e7;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U4ZThlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: url(images/ico_patte-blanc.png), -moz-linear-gradient(top,  #e8e8e7 0%, #ffffff 38%, #ffffff 100%);
	background: url(images/ico_patte-blanc.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e7), color-stop(38%,#ffffff), color-stop(100%,#ffffff));
	background: url(images/ico_patte-blanc.png), -webkit-linear-gradient(top,  #e8e8e7 0%,#ffffff 38%,#ffffff 100%);
	background: url(images/ico_patte-blanc.png), -o-linear-gradient(top,  #e8e8e7 0%,#ffffff 38%,#ffffff 100%);
	background: url(images/ico_patte-blanc.png), -ms-linear-gradient(top,  #e8e8e7 0%,#ffffff 38%,#ffffff 100%);
	background: url(images/ico_patte-blanc.png), linear-gradient(to bottom,  #e8e8e7 0%,#ffffff 38%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e7', endColorstr='#ffffff',GradientType=0 );

    background-repeat: no-repeat;
    background-position: 97% center;
    border: 1px solid #cccccc;
    }

/* ### side bar de droite ### */
#bodySide,#bodySideL{ display: table-cell; width: 28%; vertical-align: top; }
#bodySide{ padding: 4% 2%; padding-right: 0;}
#bodySideL{ padding: 4% 2%; padding-left: 0;}




/* ### footer section ### */
footer{ background: #eeeeee; height: 200px; }
#footDog{position: absolute; top: -221px;right: 0;}
#footerLogo{ position: absolute; left: 0; top: 1em;}
#footNav{ display: table; width:60%; left: 17%; top: 1.5em; }
#footNav ul{ display: table-row; margin:0; padding:0;}
#footNav ul li{ display: table-cell; list-style:none; margin: 0; padding: 0; padding-right: 2%;}
#footNav ul li a{ color: #336699; text-decoration: none; font-size: 0.675em; }
#footNav ul ul,#footNav ul ul li{ display: block; }
#footNav ul ul li{ line-height: 1em; padding: 0;}
#footNav ul ul li a{ color: #636466; }

/* formulaires things */
form div.frmElement{ display: block;margin-bottom: 2%; vertical-align: top; z-index: +1;}
form div.frmElement label{ width: 66%; display: block;}
form div.frmElement textarea,form div.frmElement input[type="text"]{ padding: 0.25%; width: 66%}
form .frmElement span.error{ color: red;}
form .frmElement input[type="submit"]{ float: right; margin-right: 33%}


/* ############################## SECTION PRODUITS ############################################### */
#bodySectionProduit{display: table; width: 100%;font-size: 100%; padding: 0; padding-bottom: 5%; padding-top: 2%; vertical-align: top;}
.crumbs{ margin-top: 0.5%;}
.crumbs, .crumbs a{ font-style: italic; font-family: Georgia, serif; color: #515050; text-decoration: none;}
.crumbs .last{ font-weight: 700; color: #366481;}

.prodNav{ float: right;} 
.prodNav a{ z-index: 999; padding: 0% 10; margin: 0 5%; text-decoration: none; color: #35627e; font-size: 3em; font-family: Georgia, serif; line-height: 0em;}
#imageProdSide, #textProdMain{ display: table-cell; padding: 3% 0; margin: 0; vertical-align: top;}
#imageProdSide{ width: 48%; margin: 0 !important; }
	#sharedBtn{ float: right;}
	#sharedBtn a{ text-decoration:none; z-index: 999}  
	#moreImages a, #accessoires a{ margin: 0 1.5% 0 0;} 
.title{ color: #3c6d8c; font-family: Georgia, serif; font-size: 1em; font-weight: 700; border-bottom: 1px solid #d4d2d2; padding-bottom: 2%; margin-top: 5%}

#textProdMain{ width: 52%; padding-left: 3% }
#textProdMain p{ text-align:justify} 
#textProdMain h2{ color: #3c6d8c; font-weight: 700; font-size: 3em; margin-bottom: 0;}
.item,.otherBaskItems{ font-size: 1em; margin-top: 2em; margin-bottom: 1em;} 
.item p{ display: table; width: 100%;}
.item span{ display: table-cell;} 
.item span:first-child{ width: 25%; font-family: Georgia, serif; font-weight: 700; color: #3c6d8c; }
.prodCouleur{ margin: 0% 3% 0 0; }
.otherBaskItems{font-family: Georgia, serif; font-weight: 700; color: #3c6d8c; font-size: 0.875em;} 
.otherBaskItems p{ width: 50%; float: left; padding-top: 1em}
.otherBaskItems a{ text-decoration:none;} 
.otherBaskItems a:hover{ text-decoration: underline; }
.otherBaskItems p img{ vertical-align: middle; margin-right: 1em;}
.otherBaskItems p:last-child{ float:none; width: 100%; clear: both; }

.basket{
	cursor:pointer;
    padding: 0.3em 3em 0.6em 1em; 
	margin-top: 2%;
    text-decoration:none;
    color:#fff;
    font-size: 0.875em;
    line-height: 1em;
    display: inline-block;
    -webkit-border-radius: 1.5em;
    border-radius: 1.5em;
    background: #83a2b5; /* Old browsers */
    background-image: url(images/cart-ico.png) no-repeat center right; /* fallback */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzYTJiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzY2OGJhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iIzNkNmY4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDYwN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: url(images/cart-ico.png), -moz-linear-gradient(top,  #83a2b5 0%, #668ba4 41%, #3d6f8e 43%, #34607d 100%); /* FF3.6+ */
    background-image: url(images/cart-ico.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83a2b5), color-stop(41%,#668ba4), color-stop(43%,#3d6f8e), color-stop(100%,#34607d)); /* Chrome,Safari4+ */
    background-image: url(images/cart-ico.png), -webkit-linear-gradient(top,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* Chrome10+,Safari5.1+ */
    background-image: url(images/cart-ico.png), -o-linear-gradient(top,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* Opera 11.10+ */
    background-image: url(images/cart-ico.png), -ms-linear-gradient(top,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* IE10+ */
    background-image: url(images/cart-ico.png), linear-gradient(to bottom,  #83a2b5 0%,#668ba4 41%,#3d6f8e 43%,#34607d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83a2b5', endColorstr='#34607d',GradientType=0 ); /* IE6-8 */
    background-repeat: no-repeat;
    background-position: 92% center;
    border: 1px solid #457a9a;
	z-index: +10;
    }
.basket:hover{ 
  background: #34607d; /* Old browsers */
    background-image: url(images/cart-ico.png) no-repeat center right; /* fallback */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgzYTJiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzY2OGJhNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQzJSIgc3RvcC1jb2xvcj0iIzNkNmY4ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDYwN2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: url(images/cart-ico.png), -moz-linear-gradient(top,  #34607d 0%, #3d6f8e 57%, #668ba4 59%, #83a2b5 100%); /* FF3.6+ */
    background-image: url(images/cart-ico.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34607d), color-stop(57%,#3d6f8e), color-stop(59%,#668ba4), color-stop(100%,#83a2b5)); /* Chrome,Safari4+ */
    background-image: url(images/cart-ico.png), -webkit-linear-gradient(top,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* Chrome10+,Safari5.1+ */
    background-image: url(images/cart-ico.png), -o-linear-gradient(top,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* Opera 11.10+ */
    background-image: url(images/cart-ico.png), -ms-linear-gradient(top,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* IE10+ */
    background-image: url(images/cart-ico.png), linear-gradient(to bottom,  #34607d 0%,#3d6f8e 57%,#668ba4 59%,#83a2b5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34607d', endColorstr='#83a2b5',GradientType=0 ); /* IE6-8 */
    background-repeat: no-repeat;
    background-position: 92% center;
    border: 1px solid #457a9a;
    }
	
/* ### side bar de droite ### */
#bodySideProdL{ display: table-cell; width: 28%; padding: 4% 2%; padding-left: 0; vertical-align: top; }
.advSearch{ 
	background: #eaeaea; 
	-webkit-border-radius: 1em; 
	border-radius: 1em;
	min-height: 300px;
	padding: 6%; 
	padding-bottom: 12% !important;
	-webkit-box-shadow:  5px 5px 8px 0px #d3d3d3; 
	box-shadow:  5px 5px 8px 0px #d3d3d3; 
	color: #515050;
	min-width: 225px;
}
.sTitle{ color: #3d6f8e; text-transform: uppercase;font-weight: 700; font-size: 0.875em; text-align: center; }
.advSearch form{ font-size: 0.75em;} 
.advSearch ul, advSearch li{ list-style:none; padding: 0; margin: 0;}
.advSearch ul + p{ color: #3d6f8e; font-size: 1.083em; border-top: 1px solid #b8b7b7; margin-left: -7%; margin-right: -7%; padding-left: 6%; padding-right: 6%; padding-top: 10%; margin-top: 10%;}
.advSearch li input[type="radio"]{ margin-right: 1.5em; vertical-align: text-top;}
.advSearch li{ margin: 0.25em 0;}
.advSearch .advScolor{ float:none; clear: both; display: table}
.advSearch .advScolor li{ width: 50%; float: left;  }
 
.prodMain{ } 
#searchBar{ 
		background: #f8f8f8;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4ZjhmOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f8f8f8 0%, #eaeaea 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#eaeaea));
		background: -webkit-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
		background: -o-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
		background: -ms-linear-gradient(top,  #f8f8f8 0%,#eaeaea 100%);
		background: linear-gradient(to bottom,  #f8f8f8 0%,#eaeaea 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#eaeaea',GradientType=0 );
	-webkit-box-shadow:  5px 5px 8px 0px #d3d3d3; 
	box-shadow:  5px 5px 8px 0px #d3d3d3;
	-webkit-border-radius: 1em; 
	border-radius: 1em;
	display: table;
	width: 100%;
	margin: 0 auto;
}
#searchBar form{ padding: 0; margin: 0; max-width: 100% !important;}
#searchBar fieldset{ border: 0; paddng:0; margin: 0; max-width: 100%;}
#searchBar form input[type=text]{ padding: 3%; width: 90% !important;} 
#searchBar form input[type=submit]{ position: absolute; top: 25%; right: 10%; background: url(images/prods/loupe.png) no-repeat center center; border: 0; width: 20px; height: 20px; text-indent: -100em;} 
#searchBar div{ display: table-cell; vertical-align: middle; width: 33.333%; }
#searchBar div:first-child{ color: #3d6f8e; font-weight: 700; font-family: Georgia, serif; font-size: 1.0625em; }
#searchBar div:nth-child(2){ text-align: center;}
#searchBar div:nth-child(2) a{ text-decoration: none; color: #3d6f8e; font-size:0.875em;} 
#searchBar div:nth-child(2) a:hover{ color:#000;}
#searchBar div:nth-child(2) a:after{ content: "▼"; margin-left: 0.5em;}
#searchBar div:last-child{ text-align: left; padding: 0; margin: 0;}

#listProd{ padding-top: 1%; margin: 0 auto; } 
#listProd .prodListRow{ display: table; margin: 0; padding: 0;  margin-top: 3%;width: 100% !important; text-align: left; -webkit-box-shadow:  2px 2px 10px 0px #d3d3d3; box-shadow:  2px 2px 10px 0px #d3d3d3;}
#listProd .prodListRow div{ width: 33.33%; display: table-cell; padding: 1% 2%; padding-bottom: 5%; border: 1px solid #efefef; border-collapse:collapse; }
#listProd .prodListRow div img{ max-width: 100%;}
.prodMain{ padding: 4% 0 5% 0 !important; text-align: center !important;}

#listProd .prodItemTitle{ color: #3d6f8e; font-size: 1em;}
#listProd .prodItemDesc{ font-size: 0.75em; line-height: 1em;}
#listProd .moreLnk{ color: #3d6f8e; font-size: 0.75em; line-height: 1em; text-decoration: none;}
#listProd .moreLnk span{ font-size: 1.8em; line-height: 1em; bottom: -0.05em;}